.pic{
    text-align: center;
    border: solid;
    border-radius: 25px;
    border-color: white;
    border-width: 0.5px;
    min-height: 150px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../assets/PICTURE\ -\ Copy.jpg");
    background-size: 120% ,100%;
    background-repeat: no-repeat;

    
   
   
}

.naming{
    text-align: center;
   
}
.name{
    color: rgb(255, 255, 255);
}